﻿<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <!-- TEST SETTINGS CONFIG -->
  <appSettings>
    <!-- CONFIGURATION IN LOCAL ENVIRONMENT -->

      <!--path of app under test-->
      <add key="base.url" value="https://passport.dx.com/" />
      <!--url for data base-->
      <add key="user.username" value="germandosreis@gmail.com" />
      <!--url for data base-->
      <add key="user.password" value="234567" />
      <!--screenshot path--> 
      <add key="screenshots.path" value="C:\QA\Screenshots\App\" />
    
    <!-- END CONFIGURATION IN LOCAL ENVIRONMENT -->
  </appSettings>
</configuration>