﻿<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <!-- TEST SETTINGS CONFIG -->
  <appSettings>
    <!-- CONFIGURATION IN LOCAL ENVIRONMENT -->

      <!--path of app under test-->
      <add key="base.url" value="https://passport.dx.com/" />
      <!--url for data base-->
      <add key="user.username" value="germandosreis@gmail.com" />
      <!--url for data base-->
      <add key="user.password" value="234567" />
    
    <!-- END CONFIGURATION IN LOCAL ENVIRONMENT -->

    <!--
    
    -->
    <!--where to store the screenshots-->
    <add key="screenshots.path" value="C:\QA\Screenshots\App\" />
    <!--where to store the test files-->
    <add key="testfiles.path" value="C:\QA\TestFiles\" />
    <!--default timeout in mills to Wait()-->
   <!-- Util Values -->
    <!--where to store the screenshots-->
    <add key="firefighter.count" value="3" />
    <!--where to store the test files-->
    <add key="medicalorganizations.count" value="3" />
    <!--where to store the test files-->
    <add key="school.count" value="5" />
    <!--where to store the test files-->
    <add key="ems.count" value="3" />
    <!--where to store the test files-->
    <add key="bank.count" value="0" />
    <!--where to store the test files-->
    <add key="copsynctitle.count" value="COPsync 911 Alert" />
    <!-- Validations Values -->
    <!--Login vlidation-->
    <add key="login.validation" value="Invalid credentials. Please try again." />
    <!--Login password warning-->
    <add key="login.keysesitive" value="Password is case sensitive" />
    <!--Login restore credentials-->
    <add key="login.recoveroption" value="Can't access your account?" />
    <!--Name and pass for login to Responder app-->
    <add key="tests.login.username" value="test" />
    <add key="tests.login.password" value="test" />
    <!--Agency name-->
    <add key="test.myagency" value="Canyon Lake Police Department" />
    <!--Agency name-->
    <add key="test.agency" value="CA Test Agency" />
    <!--Agency name-->
    <add key="test.agency2" value="Agency of Arvind" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
   <!-- BOLO'S Type -->
    <!--Attemp To Locate-->
    <add key="bolo.attemptolocate" value="Attempt To Locate" />
    <!--Endangered Person-->
    <add key="bolo.endangeredperson" value="Endangered Person" />
    <!--Intelligence-->
    <add key="bolo.intelligence" value="Intelligence" />
    <!--Missing Person-->
    <add key="bolo.missingperson" value="Missing Person" />
    <!--Officer Safety-->
    <add key="bolo.officersafety" value="Officer Safety" />
  <!-- Titles -->
    <!--Home Title-->
    <add key="title.home" value="Home" />
    <!--AVL Title-->
    <add key="title.avl" value="AVL" />
    <!--Instant Message Title-->
    <add key="title.instantmessage" value="Instant Message" />
    <!--BOLO  Title-->
    <add key="title.bolo" value="BOLO" />
    <!--COPsync911 Active Alert Title-->
    <add key="title.alert" value="COPsync911 Active Alert" />
    <!-- User Status -->
    <!--At Lunch-->
    <add key="status.atlunch" value="STATUS: AT LUNCH" />
    <!--On Break-->
    <add key="status.onbreak" value="STATUS: ON BREAK" />
    <!--In Service-->
    <add key="status.inservice" value="STATUS: IN SERVICE" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>