<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- TEST SETTINGS CONFIG -->
  <appSettings>
    <!-- CONFIGURATION IN LOCAL ENVIRONMENT -->

      <!--path of app under test-->
      <add key="base.url" value="https://passport.dx.com/" />
      <!--url for data base-->
      <add key="user.username" value="germandosreis@gmail.com" />
      <!--url for data base-->
      <add key="user.password" value="234567" />
      <!--screenshot path--> 
      <add key="screenshots.path" value="C:\Screenshots\" />
    
      <!-- END CONFIGURATION IN LOCAL ENVIRONMENT -->
  
      <!-- Utilities -->
      <!--Path to invalid type file-->
      <add key="image.invalidpath" value="\UnitTestProject1\App.config" />
    
     <!-- Validations -->
      <!--Type image validation-->
      <add key="image.invalidtype" value="Images are accepted in the formats of jpeg, jpg,png,bmp or gif." />
  </appSettings>
</configuration>